@import "tailwindcss";

:root {
  --primary-color: #b80303;
}

.text-primary {
  color: var(--primary-color);
}

body {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}
